* {
  box-sizing:border-box;
}

html, body {
  padding: 20px;
  margin:0;
  height:100%;
  width:100%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.channelList {
  padding: 15px;
  display: inline-block;
  width: 600px;
}

.user-list {
  padding: 15px;
  display: inline-block;
  width: 550px;
}

.item {
  padding: 5px;
  margin-right: 40px;
  width: 500px;
  float: left;
  line-height: 34px;
}
.item a{
  float: right;
  padding: 5px 16px;
}

.loading {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  color: white;
  text-align: center;
}

#section-channel {
  display: none;
}

#section-chat {
  display: none;
  height:70%;
  background-color:#2B2B2A;
}

#section-chat input {
  display:block;
  height:52px;
  width:800px;
  margin:10px auto;
  outline:none;
  background-color:transparent;
  border:none;
  border-bottom:1px solid #2B2B2A;
  padding:0;
  font-size:42px;
  color:#eee;
}

#messages {
  background-color:#232323;
  padding:10px;
  height:100%;
  width:800px;
  margin:0 auto;
  overflow-y:auto;
}

#messages p {
  margin:5px 0;
  padding:0;
}

.info {
  margin:5px 0;
  font-style:italic;
}

.message-container {
  margin:5px 0;
  color:#fff;
}

.message-container .username {
  display:inline-block;
  margin-right:5px;
  font-weight:bold;
  color:#849091;
}

.me, .username.me {
  font-weight:bold;
  color:cyan;
}

.message-time {
  float: right;
  color: #383838;
  font-size: 12px;
}

.message-container .username.me {
  display:inline-block;
  margin-right:5px;
}

.cname{
  width: 150px;
  display: inline-block;
}

.info b {
  padding-left: 20px;
}

.chatRoom {
  color:#dedede;
  background-color: #849091;
}

.chat-div {
  width:800px;
  margin: 0 auto;
}